 .u-section-1 {
  min-height: 797px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 105px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 692px;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 9px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto 0 107px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 64px;
}

.u-section-1 .u-image-1 {
  width: 435px;
  height: 435px;
  margin: 35px auto 0 58px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 692px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 440px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 328px;
  margin-top: 178px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 676px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 205px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    width: 343px;
    height: 343px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    width: 323px;
    height: 323px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 857px;
  margin: 30px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 770px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 115px;
  height: 115px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 69px auto 0;
  padding: 23px;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 115px;
  height: 115px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 69px auto 0;
  padding: 23px;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 115px;
  height: 115px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 69px auto 0;
  padding: 23px;
}

.u-section-2 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 115px;
  height: 115px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 69px auto 0;
  padding: 23px;
}

.u-section-2 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 56px;
  padding: 12px 30px 13px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 697px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 620px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 32px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 102px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-3 .u-image-1 {
    height: 511px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3 .u-image-1 {
    height: 391px;
    margin-top: 399px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 793px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 29px 28px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 2px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 618px;
    order: 1;
  }

  .u-section-3 .u-image-1 {
    height: 587px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 557px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-3 .u-image-1 {
    height: 370px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 2px;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 323px;
}

.u-section-4 .u-list-1 {
  margin-bottom: -21px;
  margin-top: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 203px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 3.75rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 876px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 91px 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-list-1 {
  width: 421px;
  margin: 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  margin-left: auto;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  margin-left: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 13px 0 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  width: 324px;
  margin: 13px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  margin-left: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 13px 0 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  width: 324px;
  margin: 13px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 702px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-list-2 {
  width: 421px;
  margin: 0 auto;
}

.u-section-5 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  margin-left: auto;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  margin-left: auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-3 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 13px 0 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  width: 324px;
  margin: 13px auto 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  margin-left: auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-icon-4 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 11px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 13px 0 0 auto;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  width: 324px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-5 .u-list-1 {
    width: 395px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-5 .u-list-2 {
    width: 395px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-list-1 {
    width: 285px;
  }

  .u-section-5 .u-text-3 {
    width: 225px;
  }

  .u-section-5 .u-text-5 {
    width: 225px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-list-2 {
    width: 285px;
  }

  .u-section-5 .u-text-7 {
    width: 225px;
  }

  .u-section-5 .u-text-9 {
    width: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    width: 384px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-2 {
    width: 384px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-5 .u-list-1 {
    width: 270px;
    margin-top: 6px;
    margin-bottom: -6px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-5 .u-list-2 {
    width: 270px;
    margin-top: 6px;
    margin-bottom: -6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 435px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-icon-1 {
  width: 90px;
  height: 90px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px;
}

.u-section-6 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-icon-2 {
  width: 90px;
  height: 90px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-icon-3 {
  width: 90px;
  height: 90px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-icon-4 {
  width: 90px;
  height: 90px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 18px;
}

.u-section-6 .u-text-4 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 591px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 472px;
  grid-gap: 20px 20px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 13px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 22px 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }
}