 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1104px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 894px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 894px;
  width: 510px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 894px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 3rem;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  margin: 61px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -58px 0 0 98px;
}

.u-section-1 .u-text-5 {
  margin-left: 98px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-weight: 700;
  margin: -490px -570px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 446px;
    margin-top: 77px;
    background-position: 50% 50%;
    width: 470px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 737px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 190px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -74px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 627px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-1 .u-image-1 {
    height: 494px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    height: 64px;
    margin-top: 51px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -64px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 894px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 907px;
  width: 510px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 907px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px auto 0 4px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px 4px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 4px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 6px 4px 0 102px;
}

.u-section-2 .u-text-5 {
  margin: 20px 4px 0 102px;
}

.u-section-2 .u-text-6 {
  background-image: none;
  font-weight: 700;
  margin: 29px 5px 0 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 446px;
    margin-top: 77px;
    background-position: 50% 50%;
    width: 470px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 748px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 627px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-2 .u-image-1 {
    height: 494px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1116px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 210px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 907px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 907px;
  width: 510px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 907px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 507px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 98px;
}

.u-section-3 .u-text-6 {
  background-image: none;
  font-weight: 700;
  margin: -433px -570px 390px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    margin-top: 77px;
    background-position: 50% 50%;
    width: 470px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -74px;
    margin-left: 94px;
  }

  .u-section-3 .u-line-1 {
    width: 410px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 94px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 627px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-3 .u-line-1 {
    width: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-image-1 {
    height: 494px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 592px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -64px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }

  .u-section-3 .u-icon-1 {
    height: 64px;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-3 .u-image-1 {
    height: 304px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 806px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }
}